<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/Content/css/bootstrap.min.css?v=1.0.0" rel="stylesheet">
    <link href="/Content/css/font-awesome.min.css?v=1.0.0" rel="stylesheet">
    <link href="/Content/css/style.min.css?v=1.0.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content" style="text-align: center">
        欢迎使用Only.Jobs管理平台！
    </div>
</body>
</html>
